# Local pickle file of card data # 
### 
*.pkl


# Jupyter Notebook Checkpoints # 
*.ipynb_checkpoints/

# pycache? #
__pycache__/

# Sandbox script for testing things out #
CF_sandbox.py

# .env for API keys etc
*.env
*.env.*

# Hidden files on Mac
.DS_store
.virtual_documents/